<div id="<%= dom_id list %>">
  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= list.expires_at %>
  </p>

  <p>
    <strong>#Items:</strong>
    <%= list.items.count %>
  </p>

</div>
